div[cdkDropList]{
    overflow-x: scroll;
    padding: 2rem 5rem;
    display: flex;
    min-height: 30vh;
    gap: 3rem;
    .board-creator{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 15vw;
        border: 4px #5f5f5f dashed;
        border-radius: 0.7rem;
        button{
            background-color: #468a44;
            color: #f0f0f0;
        }
    }
    &::-webkit-scrollbar{
        height: 1vh;
        background-color: #153d94;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ffffff75;
        border-radius: 2em;
    }
    &::-webkit-scrollbar-button{
        display: none;
    }
}