<mat-toolbar color="warn">
    <div class="brand">
        <span>KanBan</span>
        <mat-icon>dashboard</mat-icon>
    </div>
    <ul class="links">
        <li>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </li>
        <li>
            <mat-icon>language</mat-icon>
            <span>Language</span>
        </li>
        <li *ngIf="auth.user$ | async as user; else anonym">
            <img [src]="(auth.user$ | async).photoURL" alt="photo">
            <span>{{(auth.user$ | async).displayName}}</span>     
        </li>
        <li>
            <ng-template #anonym>
                <mat-icon>account-circle</mat-icon>
                <span>Account</span>
            </ng-template>
        </li>
    </ul>
</mat-toolbar>