<mat-toolbar color="warn">
    <div class="brand">
        <span>KanBan</span>
        <mat-icon>dashboard</mat-icon>
    </div>
    <ul class="links">
        <li (click)="toggle()">
            <mat-icon>reorder</mat-icon>
            <span>Navigation</span>
        </li>
        <li>
            <mat-icon>language</mat-icon>
            <span>Language</span>
        </li>
        <li *ngIf="auth.user$ | async as user; else anonym">
            <img [src]="(auth.user$ | async).photoURL" alt="photo" [title]="(auth.user$ | async).displayName">
        </li>
        <ng-template #anonym>
            <li>
                <mat-icon>account_circle</mat-icon>
                <span>Account</span>
            </li>
        </ng-template>
    </ul>
</mat-toolbar>