mat-card{
    width: clamp(200px, 30rem, 20vw);
    background-color: #001a2b;
    &,*{
        color: #f0f0f0;
    }
    mat-card-actions{
        width: 100%;
        padding: 0.25rem 0.5rem;
    }
}