.purple{
    background-color: #770c77;
}
.yellle{
    background-color: #f0da17;
}
.blue{
    background-color: #0c65a0;
}
.green{
    background-color: #16be16;
}
.red{
    background-color: #bd1c1c;
}
.gray{
    color: #f0f0f0;
    background-color: #292929;
    text-decoration: line-through;
}