<app-header (sideToggle)="sideOpen = $event"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideOpen" >
        <div *ngIf="auth.user$ | async as user; else login">
            <button mat-raised-button color="warn" (click)="auth.signOut()">Sign out</button>
        </div>
        <ng-template #login>
            <button mat-raised-button id="signIn" (click)="auth.googleSignin()">Sign In</button>
        </ng-template>
        <button routerLink="boards" mat-flat-button color="accent">Boards</button>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
